@{
    ViewData["Title"] = "Quadrants";
}

@model List<TaskResponse>

<div class="container">
    <!-- First Row with Just Matrix Title -->
    <div class="row">
        <h3 class="col" align="center">Stephen Covey's Time Management Matrix</h3>
    </div><br />

    <!-- Second Row with Matrix Headers -->
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4 font-weight-bold" align="center">Urgent</div>
        <div class="col-1"></div>
        <div class="col-4 font-weight-bold" align="center">Not Urgent</div>
        <div class="col-1"></div>
    </div>

    <!-- Third Row -->
    <div class="row border border-dark">
        <div class="col-2 font-weight-bold" align="center">Important</div>
        <table class="col-5 border-left border-right border-dark table-striped">
            <!-- For Loop to Display all Quadrant 1 Tasks -->
            @foreach (var x in Model)
            {
                if (@x.Quadrant == 1 & @x.Completed == false)
                {
                    <tr>
                        <td align="center">@x.Task</td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>
                    </tr>
                }
            }
        </table>
        <table class="col-5 table-striped">
            <!-- For Loop to Display all Quadrant 2 Tasks -->
            @foreach (var x in Model)
            {
                if (@x.Quadrant == 2 & @x.Completed == false)
                {
                    <tr>
                        <td align="center">@x.Task</td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>
                    </tr>
                }
            }
        </table>
    </div>

    <!-- Fourth Row -->
    <div class="row border-left border-right border-bottom border-dark">
        <div class="col-2 font-weight-bold" align="center">Not Important</div>
        <table class="col-5 border-left border-right border-dark table-striped">
            <!-- For Loop to Display all Quadrant 3 Tasks -->
            @foreach (var x in Model)
            {
                if (@x.Quadrant == 3 & @x.Completed == false)
                {
                    <tr>
                        <td align="center">@x.Task</td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>
                    </tr>
                }
            }
        </table>

        <table class="col-5 border table-striped">
            <!-- For Loop to Display all Quadrant 4 Tasks -->
            @foreach (var x in Model)
            {
                if (@x.Quadrant == 4 & @x.Completed == false)
                {
                    <tr>
                        <td align="center">@x.Task</td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                        <td class="col-1"><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>
                    </tr>
                }
            }
        </table>
    </div> <br />
</div>